<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Home page movie</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="bg-light p-5 rounded">
            <h1 class="display-1 text-success">Welcome to the world of movies</h1>
            <h2>Enjoy your favorite movies at no cost</h2>
        </div>

        <h4 class="text-danger mt-5">Latest movie</h4>

        <div class="row">
            <div class="col-md-3 my-5" th:each="movie : ${lastMovie}" th:object="${movie}">
                <a th:href="@{/films/{id}(id=*{id})}" class="card shadow-lg"
                   style="text-decoration: none;">
                    <img th:src="@{/assets/{filename}(filename=*{routeFrontPage})}" th:alt="*{qualification}" class="card-img-top">
                     <div class="card-body">
                         <h2 class="card-title fs-6" th:text="*{qualification}"></h2>
                         <p th:text="*{#temporals.format(releaseDate, 'dd/MM/yyyy')}" class="text-muted small"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>